# Files and directories created by pub
.dart_tool/
.packages
# Remove the following pattern if you wish to check in your lock file
pubspec.lock

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/
dict/JaViDic_Ja-Vi.mdx
dict/OALD_8th.mdd
dict/OALD_8th.mdx
dict/OALD9.css
dict/oald9.mdd
dict/OALD9.mdx
dict/oald9.png
dict/JaViDic_Ja-Vi.mdd
dict/mtBab_CV.mdd
dict/mtBab_CV.mdx
